<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'casa/css/css/materialize.min.css' %}" />
    <link rel="stylesheet" href="{% static 'casa/css/main.css' %}" />

</head>
<body>

    <nav class=" nav-wrapper pink lighten-2">
        <div class="container">
            <a href="#" class="brand-logo">CaKeCaSa</a>
            <a href="#" class="sidenav-trigger" data-target="mobile-links">
                <i class=" material-icons blue-text md-48">menu</i>
            </a>
                <ul class="hide-on-med-and-down" style="margin-left: 150px !important;">
                    <li class=""><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Cakes</a></li>
                    <li><a href="#">MilkShakes</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            

            <ul class=" right hide-on-med-and-down">
                <li class=""><a href="#">Login</a></li>
                <li><a href="#">Sign up</a></li>
            </ul>

            <ul class=" sidenav" id="mobile-links">
                <li class=""><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Cakes</a></li>
                <li><a href="#">MilkShakes</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
    </nav>

    {% block content %}

    {% endblock content %}
    
    <script src="{% static 'casa/js/jquery-3.4.1.min.js' %}">
    </script>
    <script src="{% static 'casa/js/js/materialize.min.js' %}">
    </script>

    <script>
        $(document).ready(()=>{
            $('.sidenav').sidenav();
            $('.parallax').parallax();
        })
    </script>
</body>
</html>