<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'casa/css/css/materialize.min.css' %}" />
    <link rel="stylesheet" href="{% static 'casa/css/main.css' %}" />

</head>

<body>

    <nav class=" nav-wrapper pink lighten-2">
        <div class="container">
            <a href="#" class="brand-logo">CaKeCaSa</a>
            <a href="#" class="sidenav-trigger" data-target="mobile-links">
                <i class=" material-icons white-text" style="font-size: 32px;">menu</i>
            </a>
            <ul class="hide-on-med-and-down" style="margin-left: 150px !important;">
                <li class=""><a href="{% url 'casa:casa-home' %}">Home</a></li>
                <li><a href="{% url 'casa:casa-about' %}">About Us</a></li>
                <li><a href="{% url 'casa:cake_list' %}">Cakes</a></li>
                <li><a href="{% url 'casa:milkshakes' %}">MilkShakes</a></li>
                <li><a href="{% url 'casa:casa-contact' %}">Contact Us</a></li>
            </ul>


            <ul class=" right hide-on-med-and-down">
                <li class=""><a href="#">Login</a></li>
                <li><a href="#">Sign up</a></li>
            </ul>

            <ul class=" sidenav" id="mobile-links">
                <li class=""><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Cakes</a></li>
                <li><a href="#">MilkShakes</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
    </nav>

    {% if messages %}
        {% for message in messages %}
            <div class="container" style="padding: 20px 0;">
                <div class="row">
                    <div class=" col s6 offset-m3">
                        <div class="pink lighten-2 white-text" style="padding: 20px;">
                            {{ message }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    {% block content %}

    {% endblock content %}

    <footer id="footer1" class=" page-footer pink lighten-4 black-text" style="padding: 20px 0; border-top: 2px solid #fafafa;">
        <div class="container">
            <div class="row">
                <div class="col s6 offset-m2 m4 ">
                    <h4>Address</h4>
                    <p>
                        <i class="material-icons left pink-text accent-1">location_on</i>
                        No 45 Tina high brow <br />
                        Street melbourne Australia
                    </p>
                </div>
                <div class="col s6 offset-m2 m4">
                    <h4>Contact</h4>
                    <p>
                        <i class=" material-icons left pink-text accent-1">contact_page</i>
                        contact us page      
                    </p>
                    <p>
                        <i class=" material-icons left pink-text accent-1">contact_mail</i>
                        cakecasa@cake.com                      
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <div class="container" >
        <div class="row" style="padding: 20px; ">
            <div class="col s12 center" >
                copyright &copy; all Right reserved 2021 <br />
                developed by Michael @ nok-tech
            </div>
        </div>
    </div>

    <script src="{% static 'casa/js/jquery-3.4.1.min.js' %}">
    </script>
    <script src="{% static 'casa/js/js/materialize.min.js' %}">
    </script>

    <script>
        $(document).ready(() => {
            $('.sidenav').sidenav();
            $('.parallax').parallax();
            $('.tooltipped').tooltip();
        })

    </script>

    <script>
        $('.carousel.carousel-slider').carousel({
            indicators: true,
            fullWidth: true
        });
        
    </script>
</body>

</html>