
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Redressed', cursive;
}

#offer a {
    display: block;
    text-decoration: none;
    color: inherit;
}

#offer .product-cc {
    /* border: thin rgb(207, 207, 207);  */
    border: 15px solid #efefef;
    padding: 10px; 
    text-align: center; 
    background-color: #fff; 

}

#offer img {
    min-height: 100%; 
    height: 250px; 
    width: 100% !important; 
    object-fit: cover;
    transform: translateX(60px);
    transition: transform .3s;
    
                           
}

#offer .product-cc:hover img {
    transform: translateX(0);
}

#offer .cake-span {
    padding: 20px 0;
}


#ft-products { 
    padding: 4em 0 !important;
}

#ft-products .items {
    padding: 10px 0 0 10px; 
    width: 100%;
}

#ft-products .items  img {
    object-fit: top; 
    width: 100%; 
    height: 250px; 
    padding: 25PX; 
    margin: 0 !important;
}

#ft-products .item-details {
    padding: 0 10px;
    width: 100%;
}