{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Slider landing page -->
<section id="landing-page" style="min-height: 80vh; height: 100%; padding-top: 10vh; position: relative;">
    <!-- <span style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgb(239 239 239 / 70%); padding: 0 !important;
     clip-path: circle(50% at 100% 50%); z-index: -1;"></span> -->

     <span style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #ee6e7366;
     clip-path: polygon(100% 0, 100% 68%, 0 100%, 0 0); z-index: -1"></span>
    <div class=" container">

        <div class="row">
            <div class="col s12 m6 l6">
                <div class=" padd" style="padding: 0 10px 0 0;">
                    <h1>Beautiful <span class=" pink-text  text-lighten-2">cake</span> for unique You!!!</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Non quia enim neque! Odit obcaecati expedita deserunt asperiores iure voluptatibus delectus.
                        Quod minima, architecto a enim praesentium cum quis perspiciatis nisi!
                    </p>
                    <span class="" style="padding-top: 20px !important; display: inline-block; ">
                        <a href="#" class="btn btn-large pink waves-effect waves-light lighten-1">
                            Shop Cake Today
                        </a>
                    </span>
                </div>
            </div>
            <div class="col s12 m6 l6 ">
                <div class="" style="
                overflow: hidden; position: relative; 
                clip-path: circle(50% at 100% 50%); z-index: -1;">

                    <img src="{% static 'casa/images/132174320_10157648337310753_2905210775196644942_n.jpg' %}"
                        class=" responsive-img "
                        style="min-height: 100%; height: 500px; width: 100% !important; object-fit: cover;" />
                </div>
            </div>
        </div>
    </div>
</section>



<!-- What we offer -->
<section id="offer" style="background:#fafafa; padding: 3.5em 10px;">
    <div class=" container">
        <div class=" row">
            <div class="col s12 m8 offset-m2 center-align" style="padding-bottom: 35px;">
                <!-- <p>
                     Brief About Products
                </p> -->
                <h2 class=" lighten-1">
                    Our Products
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>
            </div>
            <div class="col s12 m4" style="padding: 15px;">
                <a href="#" class="  product-cc  z-depth-2">
                    <h3 class="">
                        Cakes
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                    <p class="cake-span">
                        <img src="{% static 'casa/images/cakes2-removebg-preview.png' %}" class=" responsive-img " />
                    </p>
                </a>
            </div>

            <div class="col m4" style="padding: 15px;">
                <a href="#" class=" product-cc z-depth-2">
                    <h3 class="">
                        Milk Shakes
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                    <p class="cake-span">
                        <img src="{% static 'casa/images/gelato3-removebg-preview.png' %}" class=" responsive-img " />
                    </p>
                </a>
            </div>

            <div class="col s12 m4 " style="padding: 15px;">
                <a href="#" class="product-cc  z-depth-2">
                    <h3 class="">
                        Snacks
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                    <p class="cake-span">
                        <img src="{% static 'casa/images/baked.jpg' %}" class=" responsive-img " />
                    </p>
                </a>
            </div>

        </div>
    </div>
</section>


<!-- Customize Cakes-->
<section id="custom-cakes">
    <div class=" container" style="padding: 4em 10px;">
        <div class="row">
            <div class="col s12 m5" style="padding: 20px 30px; ">
                <div>
                    <p style="padding: 0 !important;">Beautiful cake for unique You</p>
                    <h2 class="" style="padding: 0 !important;">
                        How to Customize a <span class="lighten-2 pink-text">Cake</span>
                    </h2>
                    <span style="padding: 7px 0; display: block;">
                        <i class="material-icons indigo-text text-lighten-2 rounded z-depth-1 left"
                            style="padding: 10px; border-radius: 50%; ">how_to_reg</i>
                        <div class=" valign-wrapper ">
                            <p> Click on Customize cakes</p>
                        </div>
                    </span>

                    <span style="padding: 7px 0; display: block;">
                        <i class="material-icons red-text rounded z-depth-1 left"
                            style="padding: 10px; border-radius: 50%; ">
                            contact_mail
                        </i>
                        <div class=" valign-wrapper ">
                            <p>Tell us what you want through form</p>
                        </div>
                    </span>

                    <span style="padding: 7px 0; display: block;">
                        <i class="material-icons indigo-text rounded z-depth-1 left"
                            style="padding: 10px; border-radius: 50%; ">
                            payments
                        </i>
                        <div class=" valign-wrapper ">
                            <p>Make Payment with a single click</p>
                        </div>
                    </span>

                    <span style="padding: 7px 0; display: block;">
                        <i class="material-icons pink-text text-lighten-1 rounded z-depth-1 left"
                            style="padding: 10px; border-radius: 50%; ">
                            cake
                        </i>
                        <div class=" valign-wrapper ">
                            <p>Watch us bring your uniqueness to life</p>
                        </div>
                    </span>

                    <div style="padding: 20px 0;">
                        <a href="#" class=" btn btn-block btn-large pink lighten-1">
                            Customize Cake
                        </a>
                    </div>

                </div>
            </div>

            <div class="col s12 m7">
                <div>
                    <div class="row">
                        <div class="col s6" style=" padding:20px !important;">
                            <div class=" z-depth-1-half" style="border-radius: 10px; overflow: hidden;">
                                <img src="{% static 'casa/images/david-holifield-9cBUUD2CnLU-unsplash.jpg' %}" class=" responsive-img "
                                    style="object-fit: top; width: 100%; height: 220px;" />
                            </div>
                        </div>
                        <div class="col s6" style=" padding:20 !important; ">
                            <div class=" z-depth-1 " style="overflow: hidden !important;" >
                                <img src="{% static 'casa/images/cake-slice.jpg' %}" class=" responsive-img"
                                    style="object-fit: top; width: 100%; height: 220px; " />
                            </div>
                        </div class=" z-depth-1 circle" >
                        <div class="col s6 " style=" padding:20px !important;">
                            <div class=" z-depth-1-half">
                                <img src="{% static 'casa/images/cakes3.jpg' %}" class=" responsive-img"
                                    style="object-fit: cover; width: 100%; height: 220px;" />
                            </div>
                                
                        </div>
                        <div class="col s6" style=" padding:20px !important;">
                            <div class=" z-depth-1-half">
                                <img src="{% static 'casa/images/pratiksha-mohanty-SxHxyNx-6YI-unsplash.jpg' %}" class=" responsive-img"
                                    style="object-fit: cover; width: 100%; height: 220px;" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


<!-- Shop by Categories -->
<section id="ft-products" >
    <div class=" container">

        <div class="row">
            <div class="col s12 m8 offset-m2 center-align" style="padding-bottom: 2em;">
                <h2 class=" lighten-1">
                    Selected Products
                </h2>
                <p>
                    Quick shop from carefully selected items from our algorithm.
                    Buy healthy cake like a royalty, with a smile.
                </p>
            </div>
        </div>

        <div class="row" style="padding-bottom: 50px;">
            <div class="col s12 m6 ">
                <div class="items">
                    <div class="row">
                        <div class="col s6 m6 white">
                            <img src="{% static 'casa/images/cakes2-removebg-preview.png' %}"
                                class=" responsive-img"/>
                        </div>
                        <div class="col s6 m6" style="padding: 0; margin: 0;">
                            <div class="item-details">
                                <h5>Product 1 for you</h5>
                                <p>40.00$</p>
                                <p>beautiful and elegant cakes designed for you</p>
                                <span class="" style="padding-top: 20px !important; display: inline-block;">
                                    <a href="#" class=" btn-floating white pulse z-depth-2">
                                        <i class=" material-icons pink-text text-lighten-1 ">
                                            shopping_basket
                                        </i>
                                    </a>
                                    <a href="#" class="btn-floating white"
                                        style="display: inline-block; margin: 0 10px;">
                                        <i class=" material-icons black-text text-lighten-5 z-depth-2">
                                            favorite_border
                                        </i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col s12 m6">
                <div class="items">
                    <div class="row">
                        <div class="col s6 m6 white">
                            <img src="{% static 'casa/images/dunno2.jpg' %}" class=" responsive-img left" />
                        </div>
                        <div class="col s6 m6">
                            <div style="padding: 10px 0 0 10px; width: 100%;">
                                <h5>Product 1 for you</h5>
                                <p>40.00$</p>
                                <p>beautiful and elegant cakes designed for you</p>
                                <span class="" style="padding-top: 20px !important; display: inline-block;">
                                    <a href="#" class=" btn-floating white pulse z-depth-1">
                                        <i class=" material-icons pink-text text-lighten-1 ">
                                            shopping_basket
                                        </i>
                                    </a>
                                    <a href="#" class="btn-floating white"
                                        style="display: inline-block; margin: 0 10px;">
                                        <i class=" material-icons black-text text-lighten-5 z-depth-1">
                                            favorite_border
                                        </i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div> <!-- end of the first row for selected products-->

        <div class="row">
            <div class="col s12 m6 ">
                <div class="items">
                    <div class="row">
                        <div class="col s6 m6 white">
                            <img src="{% static 'casa/images/eugene-kuznetsov-Dkenkd-lwkc-unsplash.jpg' %}"
                                class=" responsive-img"/>
                        </div>
                        <div class="col s6 m6" style="padding: 0; margin: 0;">
                            <div class="item-details ">
                                <h5>Product 1 for you</h5>
                                <p>40.00$</p>
                                <p>beautiful and elegant cakes designed for you</p>
                                <span class="" style="padding-top: 20px !important; display: inline-block;">
                                    <a href="#" class=" btn-floating white pulse z-depth-1">
                                        <i class=" material-icons pink-text text-lighten-1 ">
                                            shopping_basket
                                        </i>
                                    </a>
                                    <a href="#" class="btn-floating white"
                                        style="display: inline-block; margin: 0 10px;">
                                        <i class=" material-icons black-text text-lighten-5 z-depth-1">
                                            favorite_border
                                        </i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col s12 m6">
                <div class="items">
                    <div class="row">
                        <div class="col s6 m6 white ">
                            <img src="{% static 'casa/images/tyler-coleman-FtWQhwpe1qc-unsplash.jpg' %}" class=" responsive-img left" />
                        </div>
                        <div class="col s6 m6">
                            <div style="padding: 10px 0 0 10px; width: 100%;">
                                <h5>Product 1 for you</h5>
                                <p>40.00$</p>
                                <p>beautiful and elegant cakes designed for you</p>
                                <span class="" style="padding-top: 20px !important; display: inline-block;">
                                    <a href="#" class=" btn-floating white pulse z-depth-1">
                                        <i class=" material-icons pink-text text-lighten-1 ">
                                            shopping_basket
                                        </i>
                                    </a>
                                    <a href="#" class="btn-floating white"
                                        style="display: inline-block; margin: 0 10px;">
                                        <i class=" material-icons black-text text-lighten-5 z-depth-1">
                                            favorite_border
                                        </i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


<!-- What our clients says -->
<div class=" container">
    <h1 class=" indigo-text">Hello World</h1>
</div>

<!-- Our shop Location -->
<div class=" container">
    <h1 class=" indigo-text">Hello World</h1>
</div>


{% endblock content %}