{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Slider landing page -->
<section id="landing-page">
    <!-- <span style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgb(239 239 239 / 70%); padding: 0 !important;
     clip-path: circle(50% at 100% 50%); z-index: -1;"></span> -->

    <span style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #ee6e7366;
     clip-path: polygon(100% 0, 100% 68%, 0 100%, 0 0); z-index: -1"></span>
    <div class=" container">

        <div class="row">
            <div class="col s12 m6 l6">
                <div class="" style="padding: 0 10px 0 0;">
                    <h1>Beautiful <span class=" pink-text  text-lighten-2">cake</span> for unique You!!!</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Non quia enim neque! Odit obcaecati expedita deserunt asperiores iure voluptatibus delectus.
                        Quod minima, architecto a enim praesentium cum quis perspiciatis nisi!
                    </p>
                    <span class="" style="padding-top: 40px !important; display: inline-block; ">
                        <a href="{% url 'casa:cake_list' %}"
                            class="btn btn-large pink waves-effect waves-light lighten-1">
                            Shop Cake Today
                        </a>
                    </span>
                </div>
            </div>
            <div class="col s12 m6 l6 ">
                <div class="img-div">

                    <img src="{% static 'casa/images/132174320_10157648337310753_2905210775196644942_n.jpg' %}"
                        class=" responsive-img z-depth-3" />
                </div>
            </div>
        </div>
    </div>
</section>



<!-- What we offer -->
<section id="offers" >
    <div class=" container">
        <div class=" row">
            <div class="col s12 m8 offset-m2 center-align" style="padding: 15px;">
                <h2 class=" lighten-1">
                    Our Products
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>
            </div>
            <div class="col s12 m6 l4  offer">
                <a href="{% url 'casa:cake_list' %}" class="  product-cc   z-depth-1">
                    <h3 class="">
                        Cakes
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                    <p class="cake-span">
                        <img src="{% static 'casa/images/cakes2-removebg-preview.png' %}" class=" responsive-img " />
                    </p>
                </a>
            </div>

            <div class="col s12 m6 l4 offer">
                <a href="{% url 'casa:milkshakes' %}" class=" product-cc z-depth-1">
                    <h3 class="">
                        Milk Shakes
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                    <p class="cake-span">
                        <img src="{% static 'casa/images/gelato3-removebg-preview.png' %}" class=" responsive-img " />
                    </p>
                </a>
            </div>

            <div class="col s12 m6 m6 l4 center-align offer">
                <a href="#" class="product-cc  z-depth-1">
                    <h3 class="">
                        Pastries
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                    <p class="cake-span">
                        <img src="{% static 'casa/images/bakery1-removebg-preview.png' %}"
                            class=" responsive-img " />
                    </p>
                </a>
            </div> 

        </div>
    </div>
</section>


<!-- Customize Cakes-->
<section id="custom-cakes">
    <div class=" container">
        <div class="row">
            <div class="col s12 m5 how-to">
                <p style="padding: 0 !important;">Beautiful cake for unique You</p>
                <h2 class="">
                    How to Customize a
                    <span class="lighten-2 pink-text">Cake</span>
                </h2>
                <span>
                    <i class="material-icons indigo-text text-lighten-2 rounded z-depth-1 left">
                        how_to_reg
                    </i>
                    <div class=" valign-wrapper ">
                        <p> Click on Customize cakes</p>
                    </div>
                </span>

                <span>
                    <i class="material-icons red-text rounded z-depth-1 left">
                        contact_mail
                    </i>
                    <div class=" valign-wrapper ">
                        <p>Tell us what you want through form</p>
                    </div>
                </span>

                <span>
                    <i class="material-icons indigo-text rounded z-depth-1 left">
                        payments
                    </i>
                    <div class=" valign-wrapper ">
                        <p>Make Payment with a single click</p>
                    </div>
                </span>

                <span>
                    <i class="material-icons pink-text text-lighten-1 rounded z-depth-1 left">
                        cake
                    </i>
                    <div class=" valign-wrapper ">
                        <p>Watch us bring your uniqueness to life</p>
                    </div>
                </span>

                <div style="padding: 20px 0;">
                    <a href="#" class=" btn btn-block btn-large pink lighten-1">
                        Customize Cake
                    </a>
                </div>
            </div>

            <div class="col s12 m7">
                <div>
                    <div class="row">
                        <div class="col s6 custom-cake">
                            <img src="{% static 'casa/images/david-holifield-9cBUUD2CnLU-unsplash.jpg' %}"
                                class=" responsive-img z-depth-1" />
                        </div>

                        <div class="col s6 custom-cake">

                            <img src="{% static 'casa/images/cake-slice.jpg' %}" class=" responsive-img z-depth-1" />
                        </div>

                        <div class="col s6   custom-cake">
                            <img src="{% static 'casa/images/cakes3.jpg' %}" class=" responsive-img z-depth-1" />

                        </div>
                        <div class="col s6 custom-cake">
                            <img src="{% static 'casa/images/pratiksha-mohanty-SxHxyNx-6YI-unsplash.jpg' %}"
                                class=" responsive-img z-depth-1" />
                        </div>
                    </div>
                    <h5 class=" center">Uniqueness reflects in every cake</h5>
                </div>

            </div>
        </div>
    </div>
</section>


<!-- Shop by Categories -->
<section id="ft-products">
    <div class=" container">

        <div class="row">
            <div class="col s12 m8 offset-m2 center-align" style="padding-bottom: 2em;">
                <h2 class=" lighten-1">
                    Selected Products
                </h2>
                <p>
                    Quick shop from carefully selected items from our algorithm.
                    Buy healthy cake like a royalty, with a smile.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m6 ">
                <div class="items">
                    <div class="row">
                        <div class="col s5 m6 grey lighten-4">
                            <img src="{% static 'casa/images/cakes2-removebg-preview.png' %}" class=" responsive-img" />
                        </div>
                        <div class="col s7 m6 item-details">
                            <h5>Product 1 for you</h5>
                            <p>&#36;40.00</p>
                            <p>beautiful and elegant cakes designed for you</p>
                            <span class="" style="padding-top: 20px !important; display: inline-block;">
                                <a href="#" class=" tooltipped btn-floating white pulse z-depth-2"
                                    data-tooltip="add to basket">
                                    <i class=" material-icons pink-text text-lighten-1 ">
                                        shopping_basket
                                    </i>
                                </a>
                                <a href="#" class=" tooltipped btn-floating white" data-tooltip="add to wishlist"
                                    style="display: inline-block; margin: 0 10px;">
                                    <i class=" material-icons black-text text-lighten-5 z-depth-2">
                                        favorite_border
                                    </i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col s12 m6">
                <div class="items">
                    <div class="row">
                        <div class="col s5 m6 grey lighten-4">
                            <img src="{% static 'casa/images/dunno2.jpg' %}" class=" responsive-img left" />
                        </div>
                        <div class="col s7 m6 item-details">
                            <h5>Product 2 for you</h5>
                            <p>&#36;40.00</p>
                            <p>beautiful and elegant cakes designed for you</p>
                            <span class="" style="padding-top: 20px !important; display: inline-block;">
                                <a href="#" class=" tooltipped btn-floating white pulse z-depth-1"
                                    data-tooltip="add to basket">
                                    <i class=" material-icons pink-text text-lighten-1 ">
                                        shopping_basket
                                    </i>
                                </a>
                                <a href="#" class="tooltipped btn-floating white"
                                    style="display: inline-block; margin: 0 10px;" data-tooltip="add to wishlist">
                                    <i class=" material-icons black-text text-lighten-5 z-depth-1">
                                        favorite_border
                                    </i>
                                </a>
                            </span>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col s12 m6 ">
                <div class="items">
                    <div class="row ">
                        <div class="col s5 m6 grey lighten-4">
                            <img src="{% static 'casa/images/eugene-kuznetsov-Dkenkd-lwkc-unsplash.jpg' %}"
                                class=" responsive-img" />
                        </div>
                        <div class="col s7 m6 item-details">
                            <h5>Product 3 for you</h5>
                            <p>&#36;40.00</p>
                            <p>beautiful and elegant cakes designed for you</p>
                            <span class="" style="padding-top: 10px !important; display: inline-block;">
                                <a href="#" class=" tooltipped btn-floating white pulse z-depth-1"
                                    data-tooltip="add to basket">
                                    <i class=" material-icons pink-text text-lighten-1 ">
                                        shopping_basket
                                    </i>
                                </a>
                                <a href="#" class=" tooltipped btn-floating white" data-tooltip="add to wishlist"
                                    style="display: inline-block; margin: 0 10px;">
                                    <i class=" material-icons black-text text-lighten-5 z-depth-1">
                                        favorite_border
                                    </i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col s12 m6">
                <div class="items">
                    <div class="row">
                        <div class="col s5 m6 grey lighten-4 ">
                            <img src="{% static 'casa/images/tyler-coleman-FtWQhwpe1qc-unsplash.jpg' %}"
                                class=" responsive-img left" />
                        </div>
                        <div class="col s7 m6 item-details">
                            <h5>Product 4 for you</h5>
                            <p>&#36;40.00</p>
                            <p>beautiful and elegant cakes designed for you</p>
                            <span class="" style="padding-top: 20px !important; display: inline-block;">
                                <a href="#" class=" tooltipped btn-floating white pulse z-depth-1"
                                    data-tooltip="add to basket">
                                    <i class=" material-icons pink-text text-lighten-1 ">
                                        shopping_basket
                                    </i>
                                </a>
                                <a href="#" class=" tooltipped btn-floating white" data-tooltip="add to wishlist"
                                    style="display: inline-block; margin: 0 10px;">
                                    <i class=" material-icons black-text text-lighten-5 z-depth-1">
                                        favorite_border
                                    </i>
                                </a>
                            </span>
                        </div>
                    </div>

                </div>
            </div>

        </div> <!-- end of the first row for selected products-->
    </div>
</section>

<!-- Our shop Parallax -->
<section class=" parallax-container hide-on-med-and-down">
    <div class="parallax">
        <img src="{% static 'casa/images/tyler-coleman-FtWQhwpe1qc-unsplash.jpg' %}" class=" responsive-img left" />
    </div>

</section>


<!-- address section -->
<section id="address">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 ">
                <img src="{% static 'casa/images/124893704_10157566725785753_2825119112175836310_n.jpg' %}"
                    class="z-depth-4 responsive-img left"
                     />
            </div>

            <div class="col s12 m6 center">
                <h3>
                    Shop With Us
                </h3>
                <div>
                    <p class="flow-text" style="margin-bottom: 0 !important;">
                        Shop Address
                    </p>
                    <span class="grey-text">
                        54 casa street Sydney Australia
                    </span>
                </div>

                <div>
                    <p class="flow-text" style="margin-bottom: 0 !important;">
                        EMail
                    </p>
                    <span class="grey-text">
                        cakecasa@gmail.com <br />
                        ndumicheall@gmail.com
                    </span>
                </div>

                <div>
                    <p class=" flow-text">
                        Opening Hours
                    </p>
                    <span class=" grey-text">
                        Monday to Friday: 9AM - 9PM
                    </span>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- 
<div class="carousel carousel-slider center">
    <div class="carousel-fixed-item center">
      <a class="btn waves-effect white grey-text darken-text-2">button</a>
    </div>
    <div class="carousel-item red white-text" href="#one!">
        <h2>Michael Jay Blest</h2>
        <p class="grey-text text-lighten-3">
            Looking for a best place to shop for cakes, <br />
            Around Sydney Australia and saw Tina post on her facebook timeline<br />
            I told myself search no more this is my fnal destination. <br />
            lo and behold i wasnt dissapointed.
        </p>
        <div class="carousel-item">
            <img src="{% static 'casa/images/tyler-coleman-FtWQhwpe1qc-unsplash.jpg' %}"
                class=" responsive-img circle z-depth-3"
                style="width: 100px; height: 100px;  z-index: 30 !important;" />
        </div>
    </div>
    <div class="carousel-item amber white-text" href="#two!">
      <h2>Second Panel</h2>
      <p class="white-text">This is your second panel</p>
    </div>
    <div class="carousel-item green white-text" href="#three!">
      <h2>Third Panel</h2>
      <p class="white-text">This is your third panel</p>
    </div>
    <div class="carousel-item blue white-text" href="#four!">
      <h2>Fourth Panel</h2>
      <p class="white-text">This is your fourth panel</p>
    </div>
  </div>  -->

<section class=" grey lighten-4" style="padding-top: 2em;">
    <h4 class="center" style="padding: 0 0 20px 0;">
        What our customers say
    </h4> 
    <div class="carousel carousel-slider center">

        <div class=" carousel-fixed-item center">
            <img src="{% static 'casa/images/tyler-coleman-FtWQhwpe1qc-unsplash.jpg' %}"
                    class=" responsive-img circle"
                    style="width: 100px; height: 100px;" />
        </div>

        <div class="carousel-item pink lighten-2 white-text text-darken-3" href="#one!">
            
            <h2>Michael Jay Blest</h2>
            <p class="grey-text text-lighten-3">
                Looking for a best place to shop for cakes, <br />
                Around Sydney Australia and saw Tina post on her facebook timeline<br />
                I told myself search no more this is my fnal destination. <br />
                lo and behold i wasnt dissapointed.
            </p>
            
                
            
            
        </div>
        <div class="carousel-item red white-text" href="#two!">

            <h2>Bridget Stefano</h2>
            <p class="grey-text text-lighten-3">
                Looking for a best place to shop for cakes, <br />
                Around Sydney Australia and saw Tina post on her facebook timeline<br />
                I told myself search no more this is my fnal destination. <br />
                lo and behold i wasnt dissapointed.
            </p>
        </div>
        <div class="carousel-item green white-text" href="#three!">

            <h2>Jacquine Stancey</h2>
            <p class="grey-text text-lighten-3">
                Looking for a best place to shop for cakes, <br />
                Around Sydney Australia and saw Tina post on her facebook timeline<br />
                I told myself search no more this is my fnal destination. <br />
                lo and behold i wasnt dissapointed.
            </p>
            
        </div> 
 </div>
</section>

<section id="clients-section" >
    <div class="container">
        <div class="row">
            <div class="col s12 center" style="width: 100%;">
                <h3>
                    Our Top <i class=" pink-text">Clients</i> Worldwide
                </h3>
                <p>
                    Join the league that orders from us <br />
                    Nothing falls short of the <i class=" pink-text">best</i>
                </p>
            </div>
        </div>
        <div class="row" style="padding-top: 20px;">
            <div class="col s4 m2 offset-m3">
                <img src="{% static 'casa/images/logos/attachment_11.jpeg' %}" class=" responsive-img z-depth-3"
                     />
            </div>
            <div class="col s4 m2">
                <img src="{% static 'casa/images/logos/songkick.jpg' %}" class=" responsive-img z-depth-3"
                     />
            </div>
            <div class="col s4 m2">
                <img src="{% static 'casa/images/logos/Woolworths-logo.png' %}" class=" responsive-img circle z-depth-3"
                     />
            </div>
        </div>
        <div class="row" style="padding-top: 20px;">
            <div class="col s6 m2 offset-m2">
                <img src="{% static 'casa/images/logos/Channel-9-logo.png' %}" class=" responsive-img z-depth-3"
                     />
            </div>
            <div class="col s6 m2">
                <img src="{% static 'casa/images/logos/chatme.png' %}" class=" responsive-img z-depth-3"
                     />
            </div>
            <div class="col s6 m2">
                <img src="{% static 'casa/images/logos/City-of-Melb-logo.png' %}" class=" responsive-img z-depth-3"
                     />
            </div>
            <div class="col s6 m2">
                <img src="{% static 'casa/images/logos/Qantas-logo.png' %}" class=" responsive-img z-depth-3"
                    />
            </div>
        </div>

    </div>
</section>





{% endblock content %}